@tailwind base;
@tailwind components;
@tailwind utilities;

.preventOverflow div input {
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    @apply rounded-lg;
}
